.form{
    background-image: url(../../assets/svg/Cards.svg);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: 0 25px;
    margin-top: 10px;
    margin-bottom: 5%;
}

.formbody{
    flex: 1;
    display: flex;
    margin-bottom: 10%;
}

.prompt{
    margin-left: 27px; 
    width: 87%;
    font-family: 'Open Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
    
}

.optional{
    margin-top: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.optional.shown{
    opacity: 1;
}