.wordSelect{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10%;
    gap:5px;
    padding-top: 0;
}
.wordSelect .option{
    margin-bottom: 5%;
    margin-top: 5%;
    text-transform: capitalize;
    flex: 40%;
    font-size: larger;
    font-weight: normal;
    border-radius: 10px;
    padding: 5px;
}

.wordSelect .option.active{
    font-weight: bold;
}