.landing{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.banner{
	flex: .6;
	background-color: red;
	width: 100%;
	background-image: url('https://via.placeholder.com/700');	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 0 0 0 20%;
}

.banner.out{
	flex: 0;
	transition: flex 1s;
}

.header{
	flex: .2;
	width: 100%;
	padding-top: 30px;
	background-color: white;
}

.header .corridor_name{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight:500;
	color: #A8ACAE;
	font-size: 2em;
	text-transform: uppercase;
}

.header .title{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 4em;

}

.live_buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
}

.live_buttons > div{
	border-radius: 10px;
	width: 100px;
	height: 100px;
	background-color: #A8ACAE;
	display: flex;
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
	pointer-events: all;
}

.live_buttons > div:active{
	background-color: #8A57A4;
	transform: translateY(-10px);
	transition: all 0.25s;
}

.live_buttons > div:active:after{
	transition: 0s;
}

.iconContainer{
	margin: auto;
}