.navigationButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #77528c;
}

.navButton{
    display: flex;
    color: white;
    justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.navButton > div{
    margin: auto;
}