.faceChoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.faceChoice > .option{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: auto;
    padding: 0px 40px;
    border-radius: 40px;
}

.option.active{
    font-weight: bold;
    background-color: #b9b9b980
}